<div class="page-body">
	<div class="container-xl">
		<div class="card">
			<div class="row g-0">
				<div class="col-12 col-lg-12 col-xl-12 d-flex flex-column">
					<div class="card-body scrollable" style="height: 35rem">
						<div class="chat">
							<div class="chat-bubbles">
							</div>
						</div>
					</div>
					<div class="card-footer">
						<div class="input-group input-group-flat">
							<input type="text" id="messageInput" class="form-control" autocomplete="off" placeholder="Type message" onkeydown="handleEnter(event)">
							<button onclick="sendMessage()" class="btn btn-primary">Send</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
