@model IEnumerable<AreaBox_V0._1.Models.MediaPost.MediaPostViewModel>;
@{
    ViewData["Title"] = "Index";
}



<h3>Loction :</h3>
    <div class="mb-3">
     <div class="form-label">Country:</div>
    <select style="width:30%" class="form-select">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
     </div>

<div class="mb-3">
    <div style="display: inline-block; margin-right: 10px;">
        <div class="form-label">City:</div>
        <select style="width:300px" class="form-select">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>

    <div style="display: inline-block; margin-right: 10px;">
        <div class="form-label">Category:</div>
        <select style="width:300px" class="form-select">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <a style="display: inline-block; width:100px" href="#" class="btn btn-primary">
        Submit
    </a>
</div>

@*<div style="display: flex;align-items: center;">
    <h3 style="margin: 0; margin-right:10px">Post Type :</h3>
    <a style="text-decoration: none; margin-right:15px" href="#">Media</a>
    <a style="text-decoration: none" href="#">Question</a>
</div>*@


            <div class="row row-cards">
              <div class="col-12">
                <div class="card">
                  <div class="table-responsive">
                    <table border="1" class="table table-vcenter card-table table-striped">
                      <thead>
                         
                        <tr>
                          <th>ID</th>
                          <th>User</th>
                          <th>Short Description</th>
                            <th>State</th>
                            <th>Control</th>
                          <th class="w-1"></th>
                        </tr>

                      </thead>
                      <tbody>



                         @foreach(var item in Model){
                        <tr>
                          <td>@item.Id</td>
                                <td>@item.City.CityName</td>
                          <td class="text-secondary" >
                                    @item.User.Email
                          </td>
                           <td>
                               @if(item.State == false){
                                        <span class="badge bg-success me-1"></span> <span>Published</span>
                               }
                               else{
                                        <span class="badge bg-danger me-1"></span> <span>Suspended</span>
                               }
                            </td>
                          <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                          </td>
                        </tr>
                        }
@*

                        <tr>
                            <td>8</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-danger me-1"></span> Suspended
                            </td>
                            <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                            </td>
                        </tr> *@





                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>