
@{
    ViewData["Title"] = "Index2";
}

<h1>Index2</h1>

<div class="row g-2 align-items-center">
    <div class="col-12 col-xl-2 font-weight-semibold">Normal</div>
    <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
        <a href="#" class="btn btn-outline-primary w-100">
            All Reports
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
        <a href="#" class="btn btn-outline-primary w-100">
            Reports Reviewed By Admin
        </a>
    </div>
    <div class="col-6 col-sm-4 col-md-2 col-xl py-3">
        <a href="#" class="btn btn-outline-primary w-100">
            All Reports
        </a>
    </div>
</div>