@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<a asp-area="User" asp-controller="Home" asp-action="Info">Info</a>
<a asp-area="User" asp-controller="Home" asp-action="Index">Index</a>



