<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* version 1.0.0-beta19
* link https://tabler.io
* Copyright 2018-2023 The Tabler Authors
* Copyright 2018-2023 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="~/tabler/libs/dropzone/dist/dropzone.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/tabler.min.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/tabler-flags.min.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/demo.min.css?1684106062" rel="stylesheet" />
    <link href="~/lib/webfont/tabler-icons.min.css" rel="stylesheet" />
    <style>
        html, body {
            height: 100%;
        }

        @@import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-settings: "cv03", "cv04", "cv11";
        }
    </style>
</head>
<body>
    <script src="~/tabler/js/demo-theme.min.js?1684106062"></script>
    <div class="page">

        <div class="page-wrapper">
            <div class="page-body">
                <div class="container-fluid">
                    <div class="card">
                        <div class="row g-0">
                            <div class="col-12 col-md-3 border-end">
                                @Html.Partial("Layout/_SettingNav")
                            </div>
                            <div class="col-12 col-md-9" style="overflow-y: scroll;">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Page body -->

        </div>
    </div>
    <!-- Libs JS -->
    <script src="~/tabler/libs/dropzone/dist/dropzone-min.js?1684106062" defer></script>
    <!-- Tabler Core -->
    <script src="~/tabler/js/tabler.min.js?1684106062" defer></script>
    <script src="~/tabler/js/demo.min.js?1684106062" defer></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>