@model AreaBox_V0._1.Areas.User.Models.UQuestionPostDto.send.UQuestionPostIndexDto
@{
    ViewData["Title"] = "Index";
}


<style>
    .make-me-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }


</style>


<div class="row justify-content-center">
    <div class="col-lg-9 col-sm-12 order-lg-1 order-sm-2 order-2 px-lg-4 px-xl-6">
        <div id="post-container">
            @Html.Partial("_QuestionPostListPartial", Model.questionPostsDtos)
        </div>
        <div class="col text-center">
            <div id="loading-indicator" class="my-5" style="display: none;">
                <div class="spinner-border text-primary"></div>
            </div>
        </div>
        <div class="col text-center ">
            <button type="button" class="btn btn-purple mt-5 " id="loadBut"  onclick="loadMorePosts()">
            load more content
        </button>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 order-lg-2 order-sm-1 order-1  mb-4">
        <div class="make-me-sticky">

            <partial name="../Shared/_FilteringandUserControlPartial.cshtml" />
        </div>

    </div>
</div>


<div class="modal modal-blur" id="mediaManagementModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 align-items-end">
 
                    <div class="col">
                        @*NOTE ---  this will take it from cookie  *@
                        <input type="hidden" value="1" id="postInCity" />
                        <label class="form-label">Question Title</label>
                        <input type="text" class="form-control" id="questionTitle" />
                    </div>
                </div>
                <div>
                    <label class="form-label">Question Description</label>
                    <textarea class="form-control" data-bs-toggle="autosize" id="questionDescription" placeholder="Type something…"></textarea>
                </div>
                <div class="mb-3">
                    <label class="form-label"></label>
                    <select class="form-select" id="categoryDropdownModel"  name="Category">
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SavePost" data-bs-dismiss="modal">Add Post</button>
            </div>
        </div>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>



<script>
    $(document).ready(function () {
        $.ajax({
            url: '/AdminApi/GetAllCountryAndCities',
            type: 'GET',
            dataType: 'json',
            success: function (data) {
                var countryDropdown = $('#countryDropdown');
                var cityDropdown = $('#cityDropdown');

                $.each(data, function (key, entry) {

                    
                    countryDropdown.append($('<option></option>').attr('value', entry.countryId).text(entry.countryName));


                    $.each(entry.cities, function (cityKey, cityEntry) {
                        
                        cityDropdown.append($('<option></option>').attr('value', cityEntry.citryId).text(cityEntry.cityName));
                    });
                });
            },
            error: function (error) {
                console.error('Error fetching country data:', error);
            }
        });
    });
</script>



<script>
    $(document).ready(function () {
        $('#mediaManagementModal').on('show.bs.modal', function (event) {
            $.ajax({
                url: '/AdminApi/GetAllCategories',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    var categoryDropdown = $('#categoryDropdownModel');
                    categoryDropdown.empty();
                    $.each(data, function (key, entry) {
                        categoryDropdown.append($('<option></option>').attr('value', entry.categoryId).text(entry.categoryName));
                    });
                },
                error: function (error) {
                    console.error('Error fetching category data:', error);
                }
            });
        });


    });
</script>


<script>
    $(document).ready(function () {
        $("#SavePost").click(function () {
            var postData = {
                CategoryId: $('#categoryDropdownModel').val(),
                CityId: $('#postInCity').val(),
                Title: $('#questionTitle').val(),
                Description: $('#questionDescription').val()
            };
            console.log(postData);
            $.ajax({
                url: '/QandA/AddPost',
                type: 'POST',
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(postData),
                success: function (data) {
                    // Handle success response if needed
                    console.log(data);
                  
                },
                error: function (error) {
                    // Handle error response if needed
                    console.error(error);
                }
            });
        });
    });
</script>



<script>
    var page = 1; // Initialize the page number for lazy loading
    var loading = false; // Flag to track if loading is in progress

    $(window).scroll(function () {
        if (
            !loading &&
            $(window).scrollTop() + $(window).height() >= $(document).height() - 100
        ) {
            loading = true; // Set loading flag to true
            loadMorePosts();
        }
    });

    function loadMorePosts() {
        if (page <= @Model.PagesCount) {
            console.log("Loading posts - Page " + page);
            $('#loading-indicator').show();
            $('#loadBut').hide();


            $.ajax({
                url: '/QandA/GetQuestionPostPartialList',
                type: 'GET',
                data: { page: page },
                success: function (data) {
                    // Append the new posts to the post container
                    $('#post-container').append(data);
                    page++; // Increment the page number for the next request
                    loading = false; // Reset loading flag after successful load
                    $('#loading-indicator').hide();
                    $('#loadBut').show();

                },
                error: function () {
                    console.log('Error loading posts.');
                    $('#loading-indicator').hide();
                    loading = false; // Reset loading flag even on error
                }
            });
        } else {
            console.log("All posts loaded");
            $('#loadBut').hide();

        }
    }

</script>










