@model AreaBox_V0._1.Areas.User.Models.UQuestionPostDto.send.UQuestionPostIndexDto
@{
    ViewData["Title"] = "Index";
}


<style>
    .make-me-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
</style>


<div class="row justify-content-center">
    <div class="col-lg-9 col-sm-12 order-lg-1 order-sm-2 order-2 px-lg-4 px-xl-6">
        <div id="post-container">
            @Html.Partial("_QuestionPostListPartial", Model.questionPostsDtos)
        </div>
        <div id="loading-indicator" class="my-5" style="display: none;">
            <div class="spinner-border text-primary"></div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-12 order-lg-2 order-sm-1 order-1  mb-4">
        <div class="make-me-sticky">

            <partial name="../Shared/_FilteringandUserControlPartial.cshtml" />
        </div>

    </div>
</div>




<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    var page = 1; // Initialize the page number for lazy loading
    var loading = false; // Flag to track if loading is in progress

    $(window).scroll(function () {
        if (
            !loading &&
            $(window).scrollTop() + $(window).height() >= $(document).height() - 100
        ) {
            loading = true; // Set loading flag to true
            loadMorePosts();
        }
    });

    function loadMorePosts() {
        if (page <= @Model.PagesCount) {
            console.log("Loading posts - Page " + page);
            $('#loading-indicator').show();

            $.ajax({
                url: '/QandA/GetQuestionPostPartialList',
                type: 'GET',
                data: { page: page },
                success: function (data) {
                    // Append the new posts to the post container
                    $('#post-container').append(data);
                    page++; // Increment the page number for the next request
                    loading = false; // Reset loading flag after successful load
                    $('#loading-indicator').hide();
                },
                error: function () {
                    console.log('Error loading posts.');
                    $('#loading-indicator').hide();
                    loading = false; // Reset loading flag even on error
                }
            });
        } else {
            console.log("All posts loaded");
        }
    }

</script>









