@{
    ViewData["Title"] = "MyAccount";
    Layout = "~/Areas/User/Views/Shared/_SettingLayout.cshtml";
}


<div class="card-body">
    <h2 class="mb-4">My Account</h2>
    <h3 class="card-title">Profile Details</h3>
    <div class="row align-items-center">
        <div class="col-auto">
            <span class="avatar avatar-xl" style="background-image: url(./static/avatars/000m.jpg)"></span>
        </div>
        <div class="col-auto">
            <a href="#" class="btn">
                Change avatar
            </a>
        </div>
        <div class="col-auto">
            <a href="#" class="btn btn-ghost-danger">
                Delete avatar
            </a>
        </div>
    </div>
    <div class="row row-cards">
        <div class="card-body">
            <h3 class="card-title">Edit Profile</h3>
            <div class="row row-cards">
                <div class="col-sm-6 col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <input type="text" class="form-control" placeholder="Username" disabled value="michael23">
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="mb-3">
                        <label class="form-label">Email address</label>
                        <div>
                            <div class="row g-2">
                                <div class="col-auto">
                                    <input type="text" class="form-control w-auto" value="paweluna@howstuffworks.com">
                                </div>
                                <div class="col-auto">
                                    <a href="#" class="btn">
                                        Change
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Full Name</label>
                        <input type="text" class="form-control" placeholder="Full Name" value="Chet Faker">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Gender</label>
                        <input type="text" class="form-control" placeholder="Gender" value="Male">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">Address</label>
                        <input type="text" class="form-control" placeholder="Home Address" value="Melbourne, Australia">
                    </div>

                </div>

                <div class="col-sm-6 col-md-6">
                    <div class="mb-3">
                        <label class="form-label">City</label>
                        <input type="text" class="form-control" placeholder="City" value="Melbourne">
                    </div>
                </div>

                <div class="col-sm-6 col-md-3">
                    <div class="mb-3">
                        <label class="form-label">Postal Code</label>
                        <input type="text" class="form-control" placeholder="ZIP Code">
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="mb-3">
                        <label class="form-label">Country</label>
                        <select class="form-control form-select">
                            <option value="">Germany</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="mb-3 mb-0">
                        <label class="form-label">About Me</label>
                        <textarea rows="5" class="form-control" placeholder="Here can be your description" value="Mike">Oh so, your weak rhyme
You doubt I'll bother, reading into it
I'll probably won't, left to my own devices
But that's the difference in our opinions.</textarea>
                    </div>
                </div>

                <h3 class="card-title mt-4">Password</h3>
                <p class="card-subtitle">You can set a permanent password if you don't want to use temporary login codes.</p>
                <div>
                    <a href="#" class="btn">
                        Set new password
                    </a>
                </div>
            </div>
            <div class="card-footer bg-transparent mt-auto">
                <div class="btn-list justify-content-end">
                    <a href="#" class="btn">
                        Cancel
                    </a>
                    <a href="#" class="btn btn-primary">
                        Submit
                    </a>
                </div>
            </div>


        </div>
    </div>
</div>


