<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* version 1.0.0-beta19
* link https://tabler.io
* Copyright 2018-2023 The Tabler Authors
* Copyright 2018-2023 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Dashboard - Tabler - Premium and Open Source dashboard template with responsive and high quality UI.</title>
    <!-- CSS files -->
    <link href="~/tabler/libs/dropzone/dist/dropzone.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/tabler.min.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/tabler-flags.min.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/tabler-payments.min.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/tabler-vendors.min.css?1684106062" rel="stylesheet" />
    <link href="~/tabler/css/demo.min.css?1684106062" rel="stylesheet" />
    <link href="~/lib/webfont/tabler-icons.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <style>
        html, body {
            height: 100%;
        }

        @@import url('https://rsms.me/inter/inter.css');

        :root {
            --tblr-font-sans-serif: 'Inter Var', -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
        }

        body {
            font-feature-Settingss: "cv03", "cv04", "cv11";
        }

        .make-me-sticky {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
        }

        .alertPos {
            position: fixed;
            top: 10vh;
            right: 16vh;
            z-index: 1000;
            width: 350px;
        }

    </style>
</head>
<body>
    <div class="alert alert-success alert-important alert-dismissible alertPos" id="alertSuccess" role="alert" style="display: none;">
        <div class="d-flex">
            <div class="me-2">
                <!-- Download SVG icon from http://tabler-icons.io/i/check -->
                <i style="font-size:24px" class="ti ti-check"></i>
            </div>
            <div id="success-body">
                Wow! Everything worked!
            </div>
        </div>
        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>



    <div class="alert alert-danger alert-important alert-dismissible alertPos" id="alertDanger" role="alert" style="display: none;">
        <div class="d-flex">
            <div class="me-2">
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-circle -->
                <i style="font-size:24px" class="ti ti-alert-circle"></i>
            </div>
            <div id="error-body">
                I'm so sorry…
            </div>
        </div>
        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>

    <div class="alert alert-important alert-warning alert-dismissible alertPos" id="alertDanger" role="alert" style="display: none;">
        <div class="d-flex">
            <div class="me-2">
                <!-- Download SVG icon from http://tabler-icons.io/i/alert-circle -->
                <i style="font-size:24px" class="ti ti-alert-triangle"></i>
            </div>
            <div id="error-body">
                Uh oh, something went wrong
            </div>
        </div>
        <a class="btn-close" data-bs-dismiss="alert" aria-label="close"></a>
    </div>

    <script src="~/tabler/js/demo-theme.min.js?1684106062"></script>
    <div class="page">
        @Html.Partial("~/Areas/User/Views/Shared/Layout/_SettingsNav.cshtml")
        <div class="page-wrapper">
            <!-- Page header -->
            <div class="page-header d-print-none">
                <div class="container-xl">
                    <div class="row g-0 align-items-center">
                        <div class="col">
                            <!-- Page pre-title -->
                            <div class="page-pretitle">
                                @ViewData["Title"]
                            </div>
                            <h2 class="page-title">
                                Settings
                            </h2>
                        </div>
                        <!-- Page title actions -->
                        <div class="col-auto ms-auto d-print-none">
                            <div class="btn-list">
                                <span class="d-sm-inline">
                                    <a asp-area="User" asp-controller="Home" asp-action="Index" class="btn">
                                        <i class="ti ti-home-x" style="font-size:24px"></i>
                                    </a>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>`
            <div class="page-body">
                <div class="container-xl">
                    <div class="card">
                                @RenderBody()
                    </div>
                </div>
            </div>

            <!-- Page body -->

        </div>
    </div>
    <!-- Libs JS -->
    <script src="~/tabler/libs/dropzone/dist/dropzone-min.js?1684106062" defer></script>
    <!-- Tabler Core -->
    <script src="~/tabler/js/tabler.min.js?1684106062" defer></script>
    <script src="~/tabler/js/demo.min.js?1684106062" defer></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>