@model AreaBox_V0._1.Areas.User.Models.UMediaPostDto.send.UMediaPostIndexDto
@{
    ViewData["Title"] = "Index";
}

<style>
    .make-me-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
</style>


<div class="row justify-content-center">
    <div class="col-lg-8 col-sm-12 order-lg-1 order-sm-2 order-2 px-lg-4 px-xl-6" >
        <div id="post-container">
            @Html.Partial("_MediaPostListPartial", Model.mediaPostsDtos)
        </div>
        <div id="loading-indicator" class="my-5" style="display: none;">
            <div class="spinner-border text-primary"></div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-12 order-lg-2 order-sm-1 order-1  mb-4" >
        <div class="make-me-sticky">

        <partial name="../Shared/_FilteringandUserControlPartial.cshtml" />
        </div>

    </div>
</div>




<div class="modal" id="mediaManagementModal" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Media Post Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="mediaImage" src="" alt="Media Image" style="max-width: 100%; height: auto;">

                <div id="mediaDetails">
                </div>

                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="enablePostSwitch">
                    <label class="form-check-label" for="enablePostSwitch">State</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()">Save changes</button>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    var page = 1;
    var loading = false;

    $(window).scroll(function () {
        if (
            !loading &&
            $(window).scrollTop() + $(window).height() >= $(document).height() - 100
        ) {
            loading = true;
            loadMorePosts();
        }
    });

    function loadMorePosts() {
        if (page <= @Model.PagesCount) {
            console.log("Loading posts - Page " + page);
            $('#loading-indicator').show();

            $.ajax({
                url: '/Home/GetMediaPostPartialList',
                type: 'GET',
                data: { page: page },
                success: function (data) {
                    $('#post-container').append(data);
                    page++;
                    loading = false;
                    $('#loading-indicator').hide();
                },
                error: function () {
                    console.log('Error loading posts.');
                    $('#loading-indicator').hide();
                    loading = false;
                }
            });
        } else {
            console.log("All posts loaded");
        }
    }

</script>


