@model AreaBox_V0._1.Areas.User.Models.UMediaPostDto.send.UMediaPostIndexDto
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>





<div class="row">
    <div class="col-8 offset-2 d-flex flex-column align-items-center">
        <div id="post-container">
            @Html.Partial("_MediaPostListPartial", Model.mediaPostsDtos)
        </div>
        <div id="loading-indicator" class="my-5" style="display: none;">
            <div class="spinner-border text-primary"></div>
        </div>
    </div>
</div>





<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


<script>
    var page = 1;
    var loading = false;

    $(window).scroll(function () {
        if (
            !loading &&
            $(window).scrollTop() + $(window).height() >= $(document).height() - 100
        ) {
            loading = true;
            loadMorePosts();
        }
    });

    function loadMorePosts() {
        if (page <= @Model.PagesCount) {
            console.log("Loading posts - Page " + page);
            $('#loading-indicator').show();

            $.ajax({
                url: '/Home/GetMediaPostPartialList',
                type: 'GET',
                data: { page: page },
                success: function (data) {
                    $('#post-container').append(data);
                    page++;
                    loading = false;
                    $('#loading-indicator').hide();
                },
                error: function () {
                    console.log('Error loading posts.');
                    $('#loading-indicator').hide();
                    loading = false;
                }
            });
        } else {
            console.log("All posts loaded");
        }
    }

</script>


