@{
    ViewData["Title"] = "Index";
}
<h3>Loction :</h3>
<div class="mb-3">
    <div class="form-label">Country:</div>
    <select style="width:300px" class="form-select">
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
    </select>
</div>

<div class="mb-3">
    <div style="display: inline-block; margin-right: 10px;">
        <div class="form-label">City:</div>
        <select style="width:300px" class="form-select">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>

    <div style="display: inline-block; margin-right: 10px;">
        <div class="form-label">Category:</div>
        <select style="width:300px" class="form-select">
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <a style="display: inline-block; width:100px" href="#" class="btn btn-primary">
        Submit
    </a>
</div>

@*<div style="display: flex;align-items: center;">
    <h3 style="margin: 0; margin-right:10px">Post Type :</h3>
    <a style="text-decoration: none; margin-right:15px" href="#">Media</a>
    <a style="text-decoration: none" href="#">Question</a>
</div>*@


<div class="row row-cards">
    <div class="col-12">
        <div class="card">
            <div class="table-responsive">
                <table border="1" class="table table-vcenter card-table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>User</th>
                            <th>Short Description</th>
                            <th>State</th>
                            <th>Control</th>
                            <th class="w-1"></th>
                        </tr>
                    </thead>
                    <tbody>




                        <tr>
                            <td>1</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-success me-1"></span> Published
                            </td>
                            <td>
                                <button type="button" class="btn btn-purple w-100" data-toggle="modal" data-target="#exampleModal">
                                    View
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td>2</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-danger me-1"></span> Suspended
                            </td>
                            <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>3</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-success me-1"></span> Published
                            </td>
                            <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>4</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-success me-1"></span> Published
                            </td>
                            <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>5</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-danger me-1"></span> Suspended
                            </td>
                            <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>6</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-success me-1"></span> Published
                            </td>
                            <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>7</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-success me-1"></span> Published
                            </td>
                            <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                            </td>
                        </tr>

                        <tr>
                            <td>8</td>
                            <td>Maryjo Lebarree</td>
                            <td class="text-secondary">
                                Civil Engineer, Product Management
                            </td>
                            <td>
                                <span class="badge bg-danger me-1"></span> Suspended
                            </td>
                            <td>
                                <a href="#" class="btn btn-purple w-100">
                                    View
                                </a>
                            </td>
                        </tr>





                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>