@model IEnumerable<UUserCategoriesOutputDto>
@{
    ViewData["Title"] = "My Category";
    Layout = "~/Areas/User/Views/Shared/_SettingsLayout.cshtml";
}



<div class="card-body">
    <h2 class="mb-4">My Category</h2>
    <h3>All Category</h3>
    <a href="#" class="btn btn-primary d-none d-sm-inline-block" data-bs-toggle="modal" data-bs-target="#modal-team">
        <!-- Download SVG icon from http://tabler-icons.io/i/plus -->
        <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M12 5l0 14"></path><path d="M5 12l14 0"></path></svg>
        Add Category
    </a>
    <br />
    <br />
    @if(Model.Any())
    {
        <div class="tags-list" id="tagsList">
        @foreach(var item in Model)
        {
            <span class="tag">
                @item.CategoryName
                    <a class="btn-close" data-categoryid="@item.CategoryId"></a>
            </span>
        }
        </div>
    }
    else
    {
        <p> there are no Category Add new One</p>
    }
</div>



<div class="modal modal-blur fade" id="modal-team" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add a new team</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row mb-3 align-items-end">
                    <div class="col">
                        <select type="text" class="form-select">
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn me-auto" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Add Team</button>
            </div>
        </div>
    </div>
</div>

