@page
@model RegisterModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="~/tabler/css/tabler.min.css?1692870487" rel="stylesheet" />
    <link href="~/tabler/css/tabler-flags.min.css?1692870487" rel="stylesheet" />
    <link href="~/tabler/css/tabler-payments.min.css?1692870487" rel="stylesheet" />
    <link href="~/tabler/css/tabler-vendors.min.css?1692870487" rel="stylesheet" />
    <link href="~/tabler/css/demo.min.css?1692870487" rel="stylesheet" />
</head>
<body>
    <div class="page page-center">
        <div class="container container-tight py-4">
            <div class="text-center mb-4">
                <a href="." class="navbar-brand navbar-brand-autodark">
                    <img src="~/image-removebg-preview 1.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
                </a>
            </div>
            <form class="card card-md" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" autocomplete="off" novalidate>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Create new account</h2>
                    <div class="mb-3">
                        <label asp-for="Input.FirstName">First Name</label>
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="First Name" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.LastName">Last Name</label>
                        <input asp-for="Input.LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="Last Name" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.UserName">User Name</label>
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="User Name" />
                        <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    </div>


                    <div class="mb-3">
                        <select asp-for="Input.Gender" class="form-control" aria-required="true">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                        <span asp-validation-for="Input.Gender" class="text-danger"></span>
                    </div>



                    <div class="mb-3">
                        <label asp-for="Input.DOB">Date Of Birth</label>
                        <input type="date" asp-for="Input.DOB" class="form-control" autocomplete="username" aria-required="true" placeholder="Date Of Birth" />
                        <span asp-validation-for="Input.DOB" class="text-danger"></span>
                    </div>



                    <div class="mb-3">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>


                    <div class="mb-3">
                        <label asp-for="Input.Password">Password</label>
                        <div class="input-group input-group-flat">
                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <div class="mb-3">
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-footer">
                        <button id="registerSubmit" type="submit" class="btn btn-primary w-100">Create new account</button>
                    </div>
                </div>
            </form>
            <div class="text-center text-secondary mt-3">
                Already have account? <a href="Login" tabindex="-1">Sign in</a>
            </div>
        </div>


    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/tabler/js/demo-theme.min.js?1692870487"></script>
    <script src="~/tabler/js/tabler.min.js?1692870487" defer></script>
    <script src="~/tabler/js/demo.min.js?1692870487" defer></script>
    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }
</body>
</html>



